@charset "utf-8";

/* 1200이상 */
@media all and ( min-width:1200px ){

    #mobile_nav{display:none;}
    
    /* 메인 배너 */
    #main_banner_wrap{
        max-width:1900px;
        height:800px;
        margin:0 auto;
        position:relative;
    }

    .main_bxslider > li{
        width:100%;
        height:800px;
        position:relative;
    }

    .banner01{ background:url(../images/index/main_banner00.png) no-repeat center; }
    .banner02{ background:url(../images/index/main_banner03.png) no-repeat center; }
    .banner03{ background:url(../images/index/main_banner02.png) no-repeat center; }
    .banner04{ background:url(../images/index/main_banner05.png) no-repeat center; }

    .main_bxslider > li > .banner_txt{
        position:absolute;
        left:50%;
        top:50%;
        transform:translate(-50%, -50%);
        color:#ffffff;
        text-align:center;
        width:70%;
    } /* 배너 중앙 txt */

    .main_bxslider > li > .banner_txt > h2{
        font-size:5.5vw;
        letter-spacing:2px;
        line-height:1.1em;
    } 

    .main_bxslider > li > .banner_txt > p{
        font-size:26px;
        padding-top:20px;
    }

    .banner_pager{
        position:absolute;
        bottom:20px;
        left:50%;
        transform:translateX(-50%);
        z-index:11;
    } /* banner page btn */

    .banner_pager a{
        float:left;
        width:20px;
        height:20px;
        border-radius: 50%;
        background-color:rgba(255,255,255,0.6);
        text-indent:-9999px;
        margin:0 4px;
        transition:all 0.3s;
    }

    .banner_pager a:hover{
        background-color:rgba(169,233,185,0.6);
    }

    .banner_pager a:active{
        width:60px;
        border-radius: 10px;
    }

    .banner_pager a.active{
        width:50px;
        border-radius: 10px;
        background-color:rgba(42,168,74,0.7);
    }

    
    /* new recommend 전체 */
    #product_wrap{
        clear:both;
        max-width:1400px;
        overflow:hidden;
        width:100%;
        margin:150px auto 0 auto;
        text-align:center;
    }

    #product_wrap > h2{
        display:inline-block;
        position:relative;
        padding-top:5px;
        font-size:35px;
    }

    #product_wrap> h2 > span{
        position:absolute;
        right:0;
        bottom:-28px;
        font-size:18px;
    }

    #product_list_type{
        width:1000px;
        height:50px;
        margin:50px auto 0 auto;
        display:table;
        border-collapse: separate;
    }

    #product_list_type li{
        width:500px;
        font-weight:bold;
        vertical-align: middle;
        display:table-cell;
        text-align:center;
        font-size:20px;
        background-color:#fff;
        /* border:1px solid #dddddd; */
        box-shadow: 1px 0px 3px #999999;
        cursor:pointer;
    }

    #product_list_type li.product_sel{
        background-color:#000000;
        color:#ffffff;
    }

    #product_list_wrap{
        width:100%;
        margin-top:40px;
    }

    #product_list_wrap li{
        float:left;
        width:25%;
        padding: 0 10px;
        text-align:left;
    }

    #product_list_wrap li img{
        width:100%;
        height:auto;
    }

    #product_list_wrap li .pd_txt p{
        font-size:14px;
        padding-top:5px;
    }
    #product_list_wrap li .pd_txt h3{
        font-size:18px;
        padding-top:10px;
    }

    /* 서초지점 층별 소개 */
    #seocho_floor_wrap{
        clear:both;
        max-width:1400px;
        width:100%;
        margin:150px auto 0 auto;
        text-align:center;
    } /*section*/

    #seocho_floor_wrap > h2{
        font-size:35px;
        padding-top:5px;
        display:inline-block;
        position:relative;
    } /* SeoCho Floor Guide txt */

    #seocho_floor_wrap > h2 > span{
        font-size:18px;
        position:absolute;
        right:0;
        bottom:-28px;
    } /* 서초지점 층별 안내 txt */

    #floor_part01{
        margin-top:50px;
        max-width:1400px;
        width:100%;
        height:440px;
    }
    #floor_part01 > ul{
        white-space: nowrap;
        width:100%;
        height:100%;
        overflow:hidden;
        padding-top:5px;
    }
    #floor_part01 > ul > li{
        display:inline-block;
        width:1085px;
        height:432px;
        box-shadow:2px 1px 5px rgba(0,0,0,0.2);
        transition:all 0.3s;
    }

    #floor_part01 > ul > li:hover{
        border-radius:0 0 30px 0;
    }

    #floor_part01 > ul > li:nth-child(1){           
        margin-right:35px;
    }

    #floor_part01 > ul > li > .floor_img{
        float:left;
        width:648px;
        height:432px;
    }

    #floor_part01 > ul > li > .floor_txt{
        float:left;
        width:437px;
        height:432px;
        white-space: normal;
        text-align:center;
    }

    #floor_part01 > ul > li:nth-child(1) > .floor_txt{
        background:url(../images/index/mouse_scroll02.png) 360px 320px no-repeat;
    }

    #floor_part01 > ul > li > .floor_txt > h3{
        display:inline-block;
        font-size:28px;
        margin-top:80px;
        position:relative;
    }

    #floor_part01 > ul > li > .floor_txt > h3 > span{
        position:absolute; 
        right:0px;
        top:30px;
        font-size:16px;
        font-weight:normal;
        color:#000000;
    }

    #floor_part01 > ul > li > .floor_txt > .floor_txt02{
        font-size:16px;
        margin-top:90px;
        width:100%;
        padding:0 40px;
        line-height:1.5em;
        text-align:justify;
        text-indent:5px;
    }

    #floor_part02{
        margin-top:50px;
        max-width:1400px;
        width:100%;
        height:440px;
    }
    #floor_part02 > ul{
        white-space: nowrap;
        width:100%;
        height:100%;
        overflow:hidden;
        padding-top:5px;
    }
    #floor_part02 > ul > li{
        display:inline-block;
        width:1085px;
        height:432px;
        box-shadow:-2px 1px 5px rgba(0,0,0,0.2);
        transition:all 0.3s;
    }

    #floor_part02 > ul > li:hover{
        border-radius:0 0 0 30px;
    }
    #floor_part02 > ul > li+li{ margin-left:35px; }

    #floor_part02 > ul > li > .floor_img{
        float:right;
        width:648px;
        height:432px;
    }

    #floor_part02 > ul > li > .floor_txt{
        float:left;
        width:437px;
        height:432px;
        white-space: normal;
        text-align:center;
    }

    #floor_part02 > ul > li:nth-child(3) > .floor_txt{
        background:url(../images/index/mouse_scroll02.png) 30px 320px no-repeat;
    }
    
    #floor_part02 > ul > li > .floor_txt > h3{
        display:inline-block;
        font-size:28px;
        margin-top:80px;
        position:relative;
    }

    #floor_part02 > ul > li > .floor_txt > h3 > span{
        position:absolute;
        right:0px;
        top:30px;
        display:block;
        font-size:16px;
        font-weight:normal;
        color:#000000;
    }

    #floor_part02 > ul > li > .floor_txt > .floor_txt02{
        font-size:16px;
        margin-top:90px;
        width:100%;
        padding:0 40px;
        line-height:1.5em;
        text-align:justify;
        text-indent:5px;
    }

    /* 전시 및 행사 전체 */
    #promotion_wrap{
        margin:150px auto 0 auto;
        clear:both;
        max-width:1900px;
        width:100%;
        overflow:hidden;
        padding-bottom:100px;
        background-color:#000000;
        text-align:center;
    }

    #promotion_wrap > h2{
        font-size:35px;
        padding-top:45px;
        color:#ffffff;
        position:relative;
        display:inline-block;
    } /* Promotion */

    #promotion_wrap > h2 > span{
        font-size:18px;
        position:absolute;
        right:0;
        bottom:-28px;
    } /* 전시 및 행사 */

    #promotion_poster_wrap{
        max-width:1650px;
        width:100%;
        height:380px;
        margin:50px auto 0 auto;
        transform:translateX(2000px);
        transition:all 0.8s;
    } /* 전시 포스터 영역 */

    #promotion_poster_wrap.js_effect01{
        transform:translateX(0);
    } /* js */

    #promotion_poster_wrap figure{
        float:left;
        width:16.66%;
        height:auto;
        max-height:380px;
        padding:0 0.8%;
        cursor:pointer;
        transition:all 0.4s;
        /* transition-delay: 0.3s; */
        opacity:0;  /* js */
    }

    #promotion_poster_wrap figure:hover{
        border-radius:10px 0 10px 0;
    }
    #promotion_poster_wrap figure img{
        width:100%;
        height:auto;
        transition:all 0.3s;
    }

    #promotion_poster_wrap figure:hover img{ 
        border-radius:0 30px 0 0;
        transform:scale(1.05); }

    #promotion_poster_wrap figure figcaption{
        text-align:center;
        color:#ffffff;
        font-size:16px;
        padding-top:10px;
        line-height:1.4em;
    }

    /* 자료실 + 공지사항 */
    #board_notice_wrap{
        clear:both;
        max-width:1280px;
        width:100%;
        height:500px;
        margin:150px auto 0 auto;
    } /* 자료실 공지상항 전체 */

    #board_notice_wrap .cs_part_tle{
        font-size:25px;
        position:absolute;
        left:30px;
        top:25px;
        z-index:10;
    } /* 공통 - 자료실 공지사항 주요서비스*/

    #board_notice_wrap .cs_part_tle span{
        margin-left:10px;
        font-size:16px;
        color:#333333;
    } /* 공통 - Board notice txt */

    #board_notice_wrap .cs_moreview{
        position:absolute;
        right:30px;
        top:30px;
        z-index:10;
        font-size:18px;
        font-weight:bold;
        color:#333333;
    } /* 공통 - More View txt  */

    #board_notice_wrap .cs_moreview:hover{ color:#000000; }

    #board_wrap{
        float:left;
        max-width:620px;
        width:50%;
        height:100%;
        position:relative;
        overflow:hidden;
    } /* 자료실 전체 */

    #board_wrap .cs_moreview{ color:#ffffff; } /* More View txt */

    #board_contents{
        width:400%;
        height:100%;
    }

    #board_contents li{
        max-width:620px;
        width:25%;
        height:100%;
        float:left;
        position:relative;
    }

    #board_contents li.board01{ background-color: #bbd3ec; }
    #board_contents li.board02{ background-color: #a89581; }
    #board_contents li.board03{ background-color:#afaeac; }
    #board_contents li.board04{ background-color:#777777; }

    #board_contents li img{
        width:100%;
        height:auto;
        position:absolute;
        left:0;
        top:50%;
        transform:translateY(-50%);
    }

    #board_contents li h3{
        font-family: 'Noto Sans KR',sans-serif;
        width:100%;
        text-align:center;
        color:#ffffff;
        position:absolute;
        left:50%;
        top:50%;
        transform:translate(-50%, -50%);
        font-size:7em;
    } /* 이미지 위 txt */

    #board_contents li.board04 h3{ font-size:6em; } /* .이런 타이포그래피 */

    #board_contents li p{
        width:100%;
        text-align:center;
        font-size:20px;
        position:absolute;
        bottom:28px;
        font-weight:bold;
        color:#333333;
    } /* 이미지 하단 txt */

    #notice_service_wrap{
        float:right;
        max-width:620px;
        width:50%;
        height:100%;
    }

    #notice_wrap{
        width:100%;
        height:250px;
        position:relative;
        overflow:hidden;
        background-color:#aaaaaa;
    }

    #notice_contents{
        width:100%;
        height:100%;
        background-color:rgba(255,255,255,0.8);
        padding-left:20px;
        padding-right:20px;
        padding-top:80px;
        list-style: disc;
    }

    #notice_contents li{
        font-size:15px;
        margin-left:30px;
        width:100%;
        margin-bottom:24px;
        font-weight:bold;
    } /* 공지사항 목록 제목 txt */
    
    #notice_contents li:hover{ text-decoration: underline; }

    #notice_contents li a{ color:#000000; }

    #notice_contents li span{
        float:right;
        font-size:14px;
        color:#333333;
        padding-right:40px;
    } /* 날짜 txt */

    #main_sevice{
        clear:both;
        width:100%;
        height:250px;
        background-color:#666666;
        position:relative;
    }
    
    #main_sevice ul{ width:100%; height:100%; }
    
    #main_sevice ul li{
        width:33.33%;
        height:100%;
        float:left;
        text-align:center;

    }
    #main_sevice ul li a{
        display:block;
        width:100%;
        height:100%;
        padding-top:170px;
        font-size:18px;
        color:#fff;
        transition: all 0.3s;
    }

    #main_sevice ul li:nth-child(1) a{ background:url(../images/index/book_icon01.png) no-repeat center 80px; }
    #main_sevice ul li:nth-child(2) a{ background:url(../images/index/book_icon02.png) no-repeat center 80px; }
    #main_sevice ul li:nth-child(3) a{ background:url(../images/index/book_icon03.png)  no-repeat center 80px; }

    #main_sevice ul li a:hover{ background-color:rgba(255,255,255,0.2); }
}